@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FEFFFE;
  --foreground: #171717;
  --header-border: #E6E6E6;
  --nav-links: #515151;

  --button-bg: #1A41E9;

  --presentation-title: #20262A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FEFFFE;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
